# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
indent_size = 4

[*.{js,ts,html,css,scss,json}]
indent_size = 2

[*.ts]
quote_type = single
ij_typescript_use_double_quotes = false
ij_typescript_spaces_within_imports = true
ij_typescript_spaces_within_object_literal_braces = true
ij_typescript_spaces_within_destructuring_parameters = true
ij_typescript_spaces_within_destructuring_declarations = true

[*.sh]
indent_size = 2

[*.md]
max_line_length = off
trim_trailing_whitespace = false