<div class="setup-container">

  <div class="header">
    <button class="nav-btn back" routerLink="/menu">BACK</button>
    <span class="title">SYSTEM SETTINGS</span>
    <button class="nav-btn primary save-btn" (click)="save()">SAVE</button>
  </div>

  <div class="settings-scroll">

    <ng-container *ngFor="let group of schema()">
      <div class="section-title">{{ group.name }}</div>
      <div class="card-group">
        <ng-container *ngFor="let req of group.configs">
          <config-field [config]="req" [name]="req.key" [ngModel]="configs()[req.key]"
            (ngModelChange)="updateConfig(req.key, $event)">
          </config-field>
        </ng-container>
      </div>
    </ng-container>

    <div class="info-block">
      <div>System Version: v{{ platformVersion() }}</div>
    </div>

  </div>
</div>