:host {
    display: block;
    width: 100%;
    --track-bg: #3a3a3a;
    --track-border: #555;
    --thumb-border: #1e1e1e;
    --font-mono: 'Courier New', Courier, monospace;
}

.widget-header {

    .val-display {
        color: var(--accent-color);
        font-weight: bold;
        font-size: 1rem;
    }

    .unit {
        font-size: 0.7em;
        opacity: 0.7;
        margin-left: 2px;
    }
}

.widget-content {
    display: flex;
    align-items: center;
    height: 30px;
}
