<div class="prompt-overlay" *ngIf="config">

  <div class="prompt-card" [ngClass]="config.type">

    <div class="icon-box">
      <lucide-icon *ngIf="config.type === 'error'" [img]="LucideIcons.AlertTriangle"></lucide-icon>
      <lucide-icon *ngIf="config.type === 'warning'" [img]="LucideIcons.MessageCircleWarningIcon"></lucide-icon>
      <lucide-icon *ngIf="config.type === 'info'" [img]="LucideIcons.Info"></lucide-icon>
      <lucide-icon *ngIf="config.type === 'question'" [img]="LucideIcons.HelpCircle"></lucide-icon>
    </div>

    <div class="prompt-title">{{ config.title }}</div>
    <div class="prompt-msg">{{ config.message }}</div>

    <div class="prompt-actions">
      <button
        *ngFor="let btn of config.buttons"
        type="button"
        [class]="'btn btn-' + btn.toLowerCase()"
        (click)="onAction(btn)">
        {{ btn }}
      </button>
    </div>

  </div>
</div>
